[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/SukiSU-Ultra/SukiSU-Ultra.git
[submodule "utils/lxc-docker"]
	path = utils/lxc-docker
	url = https://github.com/tomxi1997/lxc-docker-support-for-android.git
